.detalle_compra{
    background-color: #f8f7f7;
    height: 100%;
}
.detalle_compra_titulo {
    font-size: 2.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
    color: #413e3e;
}
.detailCompra {
    border: 1px solid black;
    width: 33rem;
    height: 25rem;
    margin: auto;
    padding-top: 2rem;
    background-color: #d4cfcf50;
    border-radius: 10px;
    padding-bottom: 2rem;
    overflow-y: scroll;
}
.datosUser {
   color: seagreen;
   font-weight: bold; 
   font-size: 1.2rem;
   margin-bottom: 0.5rem;
   margin-top: 0.5rem;
}
.mailUser {
    font-weight: 500;
}
.datos_comprador {
    color: #413e3e;
}
.datos_compra {
    color: #413e3e; 
    margin-top: 1rem;
}
.numero_compra {
    color: #413e3e; 
    text-decoration: underline;
    margin-top: 1rem;
    font-style: oblique;
    text-align: left;
    margin-left: 3.1rem;  
}
.fecha_compra {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    margin-left: 3.1rem;
}
.productos_compra {
    font-size: 1.5rem;
    color: #413e3e;
    font-weight: bold;
    margin-bottom: 1rem;
}
.titulo_detalle_compra {
    color: #413e3e;
    margin-left: 2rem;
    width: 17rem;
    margin-bottom: 2rem;
    font-weight: 500;
}
.titulo_detalle_compra:hover {
    color: sandybrown;
    
}
.precio_datos_compra {
    color: #413e3e;
    font-weight: bold;
    display: flex;
}
.peso_dato_compra {
    margin-left: 1.1rem;
    color: sandybrown;
    font-weight: bold;
    margin-right: 0.3rem;
    
}
.datos_libro_detalle {
    display: flex;
    width: 20rem;
}
.cantidad_detalle_compra {
    margin-left: 2rem;
    font-weight: 600;
    background-color: #bbb7b7;
    padding: 0.5rem;
    height: 1.5rem;
    border-radius: 2rem;
}
.total_compra_detalle {
    color: #413e3e;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-top: 2rem;
}
.peso_total_compra {
    color: sandybrown;
    font-weight: bold;
    margin-right: 0.3rem; 
    
}
.valor_total_compra {
    color: #413e3e;
    font-weight: bold;
  
}
.precio_total_compra_detalle {
   margin-left: 19rem;
   font-size: 1.5rem;
   margin-bottom: 2rem;
    margin-top: 2rem;
}
.total_compra_titulo {
    display: flex;
}

.direccion_envio_detalle h2 {
    color: #413e3e;
    margin-bottom: 1.5rem;
}
.direccion_envio_detalle p {
    color: #413e3e;
    font-weight: 500;
    margin-bottom: 1rem;
}
.estado_pedido_orden {
    text-align: left;
    margin-left: 1.3rem;
    margin-top: 2rem;
}
.estado_pedido {
    font-weight: 500;
    color: #413e3e;
}
.estado_pedido span {
    margin-left: 14rem;
    color: #413e3e;
    font-weight: bold;
    font-size: 1.2rem;
}