
.userContenedor{
    height: 27rem;
    background-color: #f8f7f7;
    display: flex;
    padding-left: 9rem;
    padding-top: 2rem;
}

.fotoMarco{
    border-radius: 15rem; 
    width: 20rem;
    height: 20rem;
    margin-right:10rem;
    margin-bottom: 1rem;
}
.table {
    margin-top: 2rem;
}

.realButton{
    display: flex;
    flex-direction: column;
    border: none;
    text-align: left;
    margin-top: 1rem;
}
.realButton span {
    margin-bottom: 1rem;
    font-weight: bold;
    color: #413e3e;
}
.inputFoto {
    border: none;
    
}
.nombre_usuario_perfil {
    color: seagreen;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.email_perfil {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
    color: #413e3e;
    margin-bottom: 2rem;
}
.rol_perfil {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
    color: #413e3e;
    margin-bottom: 2rem;
}
.perfil_usuario_titulo {
    background-color: #f8f7f7;
    font-size: 2rem;
    padding-top: 1rem;
    color: #413e3e;
}
.select_user {
    width: 20rem;
    
}
.eliminar_usuario_perfil {
    margin-top: 3rem;
    border: none;
    width: 5rem;
    padding: 0.7rem;
    border-radius: 5px;
    background-color: rgb(51, 40, 30);
    font-size: 15px;  
    color: white;
    font-weight: bold;
    position: relative;
}
.eliminar_usuario_perfil:hover {
cursor: pointer;
background-color: rgb(199, 7, 7);
}
