
.btn_review {
    margin-top: 0.5rem;
    border: none;
    width: 3rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgb(8, 83, 11);
    color: white;
    margin-right: 35rem;
    font-size: 15px;
    
}
.btn_review:hover {
cursor: pointer;
background-color: #0eda30;
}

